html {
  font-family: 'Arial', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}
html {
  --theme-color: #2468A0;
  background-color: black;
  color: white;
}
::selection {
  background-color: var(--theme-color);
  color: white;
}
a:link {
    background-color: var(--theme-color);
    color: white;
    border-radius: 8px;
    padding: 8px;
    text-decoration: none;
}
a:visited {
  color: white;
}
a:active {
  color: white;
}
button{
  background-color: var(--themecolor);
  color:white;
  border-radius: 8px;
  padding: 8px;
  text-decoration: none;
}

