html {
  font-family: 'Arial', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}
html {
  --theme-color: #4287F5;
}
::selection {
  background-color: var(--theme-color);
  color: black;
}
a:link {
    color: var(--theme-color);
}
a:visited {
    color: var(--theme-color);
}
a:hover {
    color: var(--theme-color);
}
a:active {
    color: var(--theme-color);
}
